h1 {font:bold 18pt "Times New Roman", Times, serif; color:#333333; background-color:#ffffff; margin-bottom:4px; padding-bottom:0px; margin-top:0px; padding-top:0px;}
body {font:12pt Verdana,Arial,sans-serif; color:#333333; background-color:#ffffff;}
th {color:#000000;}
p {color:#000000;}
caption {color:#000000;}
.emph {font:bold 12pt Verdana,Arial,sans-serif; color:#ff0000; background-color:#ffffff;}
.emph input {color:#000000;}
.reqd {font:bold 12pt Verdana,Arial,sans-serif; color:#000000; background-color:#ffffff;}
.alert {font:bold 12pt Verdana,Arial,sans-serif; color:#ff0000; background-color:#ffcccc;}
td { color:#333333; vertical-align:top;}
a:link {color:#333333;}
a:visited {color:#333333;}
a:active {color:#ff0000;}
a:hover {color:#ff0000;}
